<div class="card text-black" id="card">
  <div class="card-body">
    <p class="card-text">{{name}}</p>
    <div class="d-flex justify-content-between align-items-center">
      <div class="btn-group">
        <ul class="part-list">
          <li>{{cpu}}</li>
          <li>{{gpu}}</li>
          <li>{{case}}</li>
        </ul>
      </div>
    </div>
    <div id="cardData">
      <span id="cost">${{cost}}</span>
      <span id="comments"><img id="comment-icon" src="https://cdn0.iconfinder.com/data/icons/communication-183/80/comment-box-512.png" srcset="https://cdn0.iconfinder.com/data/icons/communication-183/80/comment-box-1024.png 2x" alt="Box, comment, comments, messages icon - Download on Iconfinder" class="d-block mx-auto">{{comments}}</span>
    </div>
  </div>
  <svg>{{picture}}</svg>
  <p>Images TO BE CONTINUED</p>
</div> 