<header>

    <div id="buildGuides">
        <h1>Build Guides</h1>
    </div>
    
    <div id="content">
        <div id="buildHeader">
            <h2>Desktop / Gaming / Streaming</h2>
        </div>
    
        <div class="cards-content">
            <buildguides-frontcard
                *ngFor="let card of rows"
                name="{{card.name}}"
                cpu="{{card.cpu}}"
                gpu="{{card.gpu}}"
                case="{{card.case}}"
                cost="{{card.cost}}"
                comments="{{card.comments}}"
                picture="{{card.picture}}"
            >
            </buildguides-frontcard>
        </div>
        <div class="cards-content">
            <buildguides-frontcard
                *ngFor="let card of rows"
                name="{{card.name}}"
                cpu="{{card.cpu}}"
                gpu="{{card.gpu}}"
                case="{{card.case}}"
                cost="{{card.cost}}"
                comments="{{card.comments}}"
                picture="{{card.picture}}"
            >
            </buildguides-frontcard>
        </div>
        <div class="cards-content">
            <buildguides-frontcard
                *ngFor="let card of rows"
                name="{{card.name}}"
                cpu="{{card.cpu}}"
                gpu="{{card.gpu}}"
                case="{{card.case}}"
                cost="{{card.cost}}"
                comments="{{card.comments}}"
            >
            </buildguides-frontcard>
        </div>
        <div id="buildHeader">
            <h2>Desktop / Gaming </h2>
        </div>
        <div class="cards-content">
            <buildguides-frontcard
                *ngFor="let card of rows"
                name="{{card.name}}"
                cpu="{{card.cpu}}"
                gpu="{{card.gpu}}"
                case="{{card.case}}"
                cost="{{card.cost}}"
                comments="{{card.comments}}"
            >
            </buildguides-frontcard>
        </div>
        <div class="cards-content" id="lastRow">
            <buildguides-frontcard
                *ngFor="let card of lastRow"
                name="{{card.name}}"
                cpu="{{card.cpu}}"
                gpu="{{card.gpu}}"
                case="{{card.case}}"
                cost="{{card.cost}}"
                comments="{{card.comments}}"
            >
            </buildguides-frontcard>

            <buildguides-frontcard
                *ngFor="let card of lastRow"
                name="{{card.name}}"
                cpu="{{card.cpu}}"
                gpu="{{card.gpu}}"
                case="{{card.case}}"
                cost="{{card.cost}}"
                comments="{{card.comments}}"
                id="lastCard"
            >
            </buildguides-frontcard>
            
            <a routerLink="/system-builder">
                <pcpp-button
                text="Build your system"
                backgroundColor="var(--blue)"
                textColor="white"
                id="bottomButton"
                >
                <img src="https://pcpartpicker.com/static/img/pl-icon.svg" id="logo">
                </pcpp-button>
            </a>
        </div>
    </div>
</header>