<div id="systemBuilder">
    <h1>System Builder</h1>
</div>

<app-partform>
    
</app-partform>

<div class="system-builder-container">
    <system-builder-actionbox></system-builder-actionbox>
    <table class="">
        <thead>
            <th>Component</th>
            <th>Selection</th>
            <th>Base</th>
            <th>Promo</th>
            <th>Shipping</th>
            <th>Tax</th>
            <th>Price</th>
            <th>Where</th>
        </thead>
        <ng-container *ngFor="let product of products">
            <tr *ngIf="!partNames.includes(product.name)">
                <td>
                    <category
                        name="{{product.name}}"
                    ></category>
                </td>
                <td>
                    <add-button id="add-button"
                    text="{{product.name}}" backgroundColor="#2C85C5" textColor="white" onclick="addItem(product.name)">
                    </add-button>
                </td>
            </tr>
        </ng-container>
        <tr *ngFor="let part of systembuilderparts">
            <td>
                <category
                    name="{{part.part}}"
                ></category>
            </td>
            <td>
                <add-button id="add-button"
                text="{{part.part}}" backgroundColor="#2C85C5" textColor="white">
                </add-button>
            </td>
            <td>
                {{part.base}}
            </td>
            <td>
                {{part.promo}}
            </td>
            <td>
                {{part.shipping}}
            </td>
            <td>
                {{part.tax}}
            </td>
            <td>
                {{part.price}}
            </td>
            <td>
                {{part.where}}
            </td>
        </tr>
    </table>
</div>