<div id="systemBuilder">
    <h1>System Builder</h1>
</div>

<div class="system-builder-container">
    <system-builder-actionbox></system-builder-actionbox>
    <table class="">
        <thead>
            <th>Component</th>
            <th>Selection</th>
            <th>Base</th>
            <th>Promo</th>
            <th>Shipping</th>
            <th>Tax</th>
            <th>Price</th>
            <th>Where</th>
        </thead>
        <tr>
            <td>
                <category
                    *ngFor="let product of products"
                    name="{{product.name}}"
                ></category>
            </td>
            <td>
                <add-button id="add-button" *ngFor="let product of products"
                text="{{product.name}}" backgroundColor="#2C85C5" textColor="white">
                </add-button></td>
        </tr>
    </table>
</div>