#add-button{
    display: flex;
}

.table-header-container{
    padding-bottom: 15px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

category{
    padding-left: 120px;
}

.row{
    display: flex;
}
