<div class="system-builder-container">
    <div class="table-header-container">
        <th>Component</th>
        <th>Selection</th>
        <th>Base</th>
        <th>Promo</th>
        <th>Shipping</th>
        <th>Tax</th>
        <th>Price</th>
        <th>Where</th>
    </div>
    
    <div class="category-container">
        <div class="row">
            <category textColor="dodgerBlue" name="CPU"></category>
            <add-button id="add-button" text="CPU" backgroundColor="dodgerblue" textColor="white"></add-button>
        </div>
        <div class="row">
            <category textColor="dodgerBlue" name="CPU Cooler"></category>
            <add-button id="add-button" text="GPU" backgroundColor="dodgerblue" textColor="white"></add-button>
        </div>
    </div>
</div>