.btn-primary{
    font-weight: bold !important;
    display: inline-block;
    text-align: center;
    margin-bottom: 10px;
}

#img{
    fill: white;
    height: 20px;
    padding-right: 10px;
    padding-bottom: 5px;
}