<nav class="navbar navbar-expand-lg" id="navbar-bg">
    <div class="container-fluid">
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="nav navbar-nav d-flex justify-content-between align-items-center"> 
          <a>https://pcpartpicker.com/list/sF8TwP</a>
            <div class="d-flex justify-content-center align-items-center">
              <p class="m-0">Markup:</p>
              <img routerLink="" src="https://pcpartpicker.com/static/img/pl-icon.svg" id="logo">
              <img routerLink="" src="https://www.svgrepo.com/show/14413/reddit.svg" id="logo">
              <img routerLink="" src="https://www.svgrepo.com/show/219279/html.svg" id="logo">
              <img routerLink="" src="https://www.svgrepo.com/show/54186/letter-t.svg" id="logo">
              <img routerLink="" src="https://www.svgrepo.com/show/60618/b-letter.svg" id="logo">
              <img routerLink="" src="https://www.svgrepo.com/show/256784/copy.svg" id="logo">History
            </div>
        </ul>
      </div>
    </div>
  </nav>
  <nav class="navbar navbar-expand-lg" id="navbar-bg">
    <div class="container-fluid" id="">
      <div class="collapse navbar-collapse" id="bottom">
        <ul class="nav navbar-nav d-flex align-items-stretch">
            <li class="flex-fill" id="greenBackground"> Compatibility: No issues or incompatibilities found.</li>
            <li class="text-right " id="blueBackground"> Estimated Wattage: 0W</li>
        </ul>
      </div>
    </div>
  </nav>