<nav class="navbar navbar-expand-lg navbar-dark" id="navbar-bg">
  <div class="container-fluid">
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a routerLink="/system-builder" class="nav-link active bottom-left" aria-current="page">System Builder</a>
        </li>
        <li class="nav-item">
          <a routerLink="/build-guides" class="nav-link active bottom-left" aria-current="page">Build Guides</a>
        </li>
        <li class="nav-item">
          <a routerLink="/completed-builds" class="nav-link active bottom-left" aria-current="page">Completed Builds</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active bottom-left" aria-current="page">Browse Products</a>
        </li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" id="small-bottom">Forums</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" id="small-bottom">Price Drops</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active me-right" aria-current="page" id="small-bottom">Price Trends</a>
        </li>
      </ul>
      <button (click)="showingSearchBar = !showingSearchBar" id="search-button">      
        <img src="../../assets/search-icon.png" id="search-icon">
      </button>
      <form class="d-flex" *ngIf="showingSearchBar">
        <input class="form-control me-auto" type="search" placeholder="Search..." aria-label="Search">
        <button class="btn btn-outline-success" type="submit">Search</button>
      </form>
    </div>
  </div>
</nav>