<nav class="navbar navbar-expand-lg" id="navbar-bg">
  <div class="container-fluid">
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <img src="https://cdna.pcpartpicker.com/static/forever/img/pcpp-logo.svg" id="logo">
      <ul class="nav navbar-nav"> 
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#" id="item">Log in</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#" id="item">Register</a>
        </li>
        <li class="nav-item dropdown" id="country-select">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown"
            aria-expanded="false">
            United States
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" href="#">Argentina</a></li>
            <li><a class="dropdown-item" href="#">Australia</a></li>
            <li><a class="dropdown-item" href="#">Austria</a></li>
            <li><a class="dropdown-item" href="#">Canada</a></li>
            <li><a class="dropdown-item" href="#">France</a></li>
            <li><a class="dropdown-item" href="#">Germany</a></li>
            <li><a class="dropdown-item" href="#">Italy</a></li>
            <li><a class="dropdown-item" href="#">Japan</a></li>
            <li><a class="dropdown-item" href="#">Mexico</a></li>
            <li><a class="dropdown-item" href="#">Saudi Arabia</a></li>
            <li><a class="dropdown-item" href="#">Turkey</a></li>
            <li><a class="dropdown-item" href="#">United Kingdom</a></li>
            <li><a class="dropdown-item" href="#">United States</a></li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>